name: PicoArgs compile and test

permissions:
  contents: read
  pull-requests: write

on:
  push:
    branches: ["dotnet9"]

#  pull_request:
#    branches: [ "dotnet8" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.x"

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Debug --no-restore

      - name: Test
        run: dotnet test --no-restore
